h1,h2,h3,h4 {font-family: 'Geomanist Black'}
.menu li a{font-family: 'Geomanist Regular'; color:#212529;}
.menu li a:hover{text-decoration:none;}
@font-face { 
  font-family: Geomanist Black; 
  src: url('../fonts/Geomanist-Black.otf'); 
}
@font-face { 
  font-family: Geomanist Regular; 
  src: url('../fonts/Geomanist-Regular.otf'); 
}
