h1,h2,h3,h4 {font-family: 'Geomanist Black'}
.menu li a{font-family: 'Geomanist Book'; font-size:14px; line-height: 26px; color:#212529; text-transform:uppercase;}
.menu li a:hover{text-decoration:none;}
@font-face { 
  font-family: Geomanist Black; 
  src: url('../fonts/Geomanist-Black.otf'); 
}
@font-face { 
  font-family: Geomanist Regular; 
  src: url('../fonts/Geomanist-Regular.otf'); 
}
@font-face { 
  font-family: Geomanist Medium; 
  src: url('../fonts/Geomanist-Medium.otf'); 
}
@font-face { 
  font-family: Geomanist Bold; 
  src: url('../fonts/Geomanist-Bold.otf'); 
}
@font-face { 
  font-family: Geomanist Book; 
  src: url('../fonts/Geomanist-Book.otf'); 
}
