body {font-family: 'Roboto Condensed', sans-serif;}
h1,h2,h3,h4 {font-family: 'Geomanist Black'}
.menu li a{font-family: 'Geomanist Book'; font-size:14px; line-height: 26px; color:#212529; text-transform:uppercase;}
.menu li a:hover{text-decoration:none;}
@font-face { 
  font-family: Geomanist Black; 
  src: url('../fonts/Geomanist-Black.otf'); 
}
@font-face { 
  font-family: Geomanist Regular; 
  src: url('../fonts/Geomanist-Regular.otf'); 
}
@font-face { 
  font-family: Geomanist Medium; 
  src: url('../fonts/Geomanist-Medium.otf'); 
}
@font-face { 
  font-family: Geomanist Bold; 
  src: url('../fonts/Geomanist-Bold.otf'); 
}
@font-face { 
  font-family: Geomanist Book; 
  src: url('../fonts/Geomanist-Book.otf'); 
}

/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #212529;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .image {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
}

.text {
  background-color: #343a40;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 32px;
}

